.projects-container {
  padding: 20px;
  text-align: center;
}

.projects-container h2 {
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
  padding: 10px;
}

td {
  padding: 10px;
  border-top: 1px solid #ccc;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.message-box {
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  font-weight: bold;
}

/* ERROR */
.message-box.error {
  background-color: #f8d7da;
  color: #721c24;
}

/* SUCCESS */
.message-box.success {
  background-color: #d4edda;
  color: #155724;
}
.error-input {
  border: 2px solid red;
  background-color: #ffe6e6;
}